%h1
  = "Listing items"

%table
  %tr
    %th
      = "Title"
    %th
      = "Edit"
    %th
      = "Delete"
  - @items.each do |item|
    %tr
      %td
        = item.title
      %td
        = link_to('Edit', "/#/items/#{item.id}/edit")
      %td
        = link_to('Destroy', "/#/items/#{item.id}", method: :delete, data: { confirm: 'Are you sure?' })
%br
= link_to('New Item', "/#/items/new")
