!!!
%html
  %head
    %title Kukariri
    = stylesheet_link_tag("application", :media => "all")
    = javascript_include_tag(be_backbone? ? "rails/application" : "kukariri_backbonejs/application")
    = csrf_meta_tags
    - if protect_against_forgery?
      %meta{:content => u(cookies[Rails.application.config.session_options[:key]]), :name => "session-key-value"}
  %body.container-fluid
    %section.header
      %ul
        %li
          = link_to("New Contact", "/#/contacts/new")
        %li
          = link_to("Contact list", "/#/contacts")
        %li
          = link_to("New Item", "/#/items/new")

    %section.container
      = yield
      .modal

    %section.footer
