!!!
%html
  %head
    %title Kukariri
    = stylesheet_link_tag("application", :media => "all")
    = javascript_include_tag(be_backbone? ? "rails/application" : "kukariri_backbonejs/application")
    = csrf_meta_tags
    - if protect_against_forgery?
      %meta{:content => u(cookies[Rails.application.config.session_options[:key]]), :name => "session-key-value"}
  %body.container-fluid
    %section.header
      %ul.span11
        %li.span2
          = link_to(t("items.items_list"), items_path)
        %li.span2
          = link_to(t("contacts.new_contact"), "/#/contacts/new")
        %li.span2
          = link_to(t("contacts.contact_lists"), "/#/contacts")
        %li.span2
          = link_to(t("items.new_item"), "/#/items/new")
        %li.span2
          = link_to(t("killbills.lending_money"), "http://killbills.me/") 

      %div.span1
        %ul
          %li
            = link_to(t("layout.logout"), destroy_user_session_path)

    %section.notice
      %ul

    %section.container.container-fluid
      = yield
      .modal

    %section.footer
